---
import { getRelics } from "../../data";
import Root from "../../layouts/Root.astro";
let relics = await getRelics();
relics = relics.filter((relic) => {
	return !relic.vaulted;
});
---

<Root>
	<div class="flex flex-wrap gap-4 p-4">
		{
			relics.map((relic) => {
				return (
					<>
						<div class="">
							<span>{relic.name}</span>
							{relic.rewards?.map((reward) => {
								if (
									reward.item &&
									(reward.item.name.endsWith("Systems Blueprint") ||
										reward.item.name.endsWith("Chassis Blueprint") ||
										reward.item.name.endsWith("Neuroptics Blueprint") 
										// || reward.item.name.endsWith("Prime Blueprint")
										)
								) {
									return (
										<>
											<div>
												{reward.rarity}
												{reward.item?.name}
											</div>
										</>
									);
								} else {
									return "";
								}
							})}
						</div>
					</>
				);
			})
		}
	</div>
</Root>
