---
import Root from "../../../layouts/Root.astro";
import { getWarframes } from "../../../data.js";
let warframes = await getWarframes();
warframes = warframes.filter((warframe) => {
	return warframe.sex == 'Female';
});
---

<Root>
	<table>
		<tbody>
			{
				warframes.map((warframe) => {
					return (
						<>
							<tr class="">
								<td class="border">{warframe.name}</td>
								<td class="border">{warframe.passiveDescription}</td>
							</tr>
						</>
					);
				})
			}
		</tbody>
	</table>
</Root>
