---
import Root from "../layouts/Root.astro";
---

<Root title="Warframe wiki">
	<div class="text-center p-4 font-medium">
		<a href="/warframes">Warframes</a><br>
		<a href="/relics">Relics</a>
	</div>
</Root>
